{% extends "base/base.html" %}

{% block page_body %}

<div class="text-center">
    <div style="padding-top: 50px;" class="col-lg-4 offset-lg-4">
        <img src="https://cdn.jsdelivr.net/gh/CraigCiccone/crc_site_static@master/logo.png"
             height="160px" width="120px">
        <h3 style="padding-top: 15px;">{{ heading }}</h3>
        <form id="recaptcha-form" action="" method="POST" onsubmit="Loading()">
            {% for field in form %}
            {{ macros.render_field(field, with_label=True) }}
            {% endfor %}
        </form>
    </div>
</div>
<!-- /text-center -->

{% endblock %}